/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-bg);
}

/* Variables */
:root {
  /* -- layouts */
  --max-row-width: 120rem;

  /* -- colors */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-1: #d6ddeb;
  --color-2: #02ad88;
  --color-3: #6e798f;
  --color-4: var(--color-4);
}

/* Utilities */
.max-width-557 {
  max-width: 55.7rem;
}
.max-width-500 {
  max-width: 50rem;
}

.text-center {
  text-align: center;
}

/* Margins */
/* -- margin tops */
.my-40 {
  margin-block: 4rem;
}

/* -- margin tops */
.mt-80 {
  margin-top: 8rem;
}
.mt-50 {
  margin-top: 5rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-25 {
  margin-top: 2.5rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-7 {
  margin-top: 0.7rem;
}
.mt-5 {
  margin-top: 1.5rem;
}

/* -- margin bottoms */
.mb-50 {
  margin-bottom: 5rem;
}
.mb-40 {
  margin-bottom: 4rem;
}
.mb-35 {
  margin-bottom: 3.5rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mb-7 {
  margin-bottom: 0.7rem;
}

/* Typography */
body {
  font-weight: 500;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.7rem;
  font-optical-sizing: auto;
  font-family: "Dosis", sans-serif;
}
/* -- links */
.l-1 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: var(--color-black);
}
.l-2 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 10rem;
  text-decoration: none;
  color: var(--color-2);
  padding: 0.7rem 2.5rem;
  border: 1px solid var(--color-2);
}
.l-3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 10rem;
  text-decoration: none;
  padding: 0.7rem 2.5rem;
  color: var(--color-white);
  border: 1px solid var(--color-2);
  background-color: var(--color-2);
}
.l-4 {
  font-family: Dosis;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--color-black);
  text-decoration: none;
}
.l-5 {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

/* -- headings */
.h-1 {
  font-size: clamp(3rem, 4vw, 5.6rem);
  /* font-size: 5.6rem; */
  font-weight: 700;
  line-height: clamp(4.12rem, 6vw, 6.72rem);
  /* line-height: 6.72rem; */
  color: var(--color-black);
}

.h-2 {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.52rem;
  color: var(--color-black);
}

.h-3 {
  /* font-size: 4rem; */
  font-weight: 700;
  /* line-height: 4.8rem; */
  color: var(--color-black);

  font-size: clamp(3rem, 4vw, 4rem);
  line-height: clamp(4.12rem, 6vw, 4.8rem);
}

.h-4 {
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;

  color: var(--color-black);

  padding: 0.1rem 0.8rem;
  border-left: 2px solid var(--color-black);
}

.h-5 {
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: var(--color-black);
}

.h-6 {
  font-family: Inter;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.8rem;
  text-align: left;

  color: var(--color-black);

  padding: 0.1rem 0.8rem;
  border-left: 2px solid var(--color-black);
}

.h-7 {
  font-weight: 700;
  color: var(--color-black);
  font-size: clamp(2.8rem, 4vw, 3.2rem);
  line-height: clamp(3.5rem, 6vw, 4.16rem);
}

.h-8 {
  font-family: Dosis;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--color-black);
}

.h-9 {
  font-family: Dosis;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: var(--color-black);
}

.h-10 {
  font-family: Dosis;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--color-black);
}

.h-11 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--color-4);
}

/* -- paragraphs */
.p-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: var(--color-black);
}

.p-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--color-black);
}

.p-3 {
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.p-4 {
  font-family: Dosis;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: var(--color-black);
}

.p-5 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.885rem;
  color: var(--color-3);
}

/* Buttons */
.btn {
}
.btn:active,
.btn:focus {
  border: none;
  outline: none;
}

.btn-1 {
  width: 100%;
  color: var(--color-white);
  cursor: pointer;
  background-color: #0089d6;
  border: none;
  outline: none;
  border-radius: 0.8rem;

  font-family: Dosis;
  font-size: 1.6rem;
  font-weight: 700;

  padding: 1.2rem;
}

.btn-2 {
  font-weight: 500;
}

.btn-color-modal {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Layout */
.center {
  margin-inline: auto;
  max-width: var(--max-row-width);
}
@media (width <= 78.125em) {
  /* 1250px */
  .center {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.w-full {
  width: 100%;
}

/* App Styles */
/* -- Top nav */
.top-nav {
  border-bottom: 1px solid var(--color-1);
}

.top-nav-container {
  z-index: 1;

  top: 0;
  position: sticky;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 0.5rem;
}

.top-nav__links {
  gap: 3.2rem;
  display: flex;
  align-items: center;
}

.top-nav__ctas {
  gap: 1.6rem;
}

.mobile-menu-cta {
  all: unset;
  background-color: none;
  border: none;
  outline: none;

  display: none;
}
@media (width <= 56.25em) {
  /* 900px */
  .mobile-menu-cta {
    display: inline-block;
  }

  .top-nav__links {
    display: none;
  }
}

/* -- Hero */
.hero {
  padding-block: 10rem;
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
@media (width <= 56.25em) {
  .hero {
    padding-block: 3rem;
  }
}

.hero-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 3rem;
}
@media (width <= 56.25em) {
  .hero-container {
    flex-direction: column;
    /* text-align: center; */
  }
}

.hero-left {
}

.bagde {
  font-weight: 700;
  font-size: clamp(1.3rem, 3vw, 1.8rem);
  font-family: Lato;
  line-height: 2.16rem;
  background-color: #00a8591a;
  color: #00a859;

  padding: 12px 20px;

  border-radius: 4px;
}

.hero-image-container {
  max-width: 61.6rem;
  max-height: 50rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (width <= 78.125em) {
  .hero-container {
    justify-content: center;
  }
  .hero-image-container {
    max-width: 51.6rem;
    max-height: 40rem;
  }
}
@media (width <= 65.31em) {
  .hero-image-container {
    max-width: 41.6rem;
    max-height: 30rem;
  }
}

/* -- Main */
.main-section {
  padding-top: 5rem;
  padding-bottom: 10rem;
}
@media (width <= 56.25em) {
  .main-section {
    padding-bottom: 5rem;
  }
}

.main-layout {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
@media (width <= 56.25em) {
  .main-layout {
    flex-direction: column-reverse;
    gap: 5rem;
  }
}

.main-layout__left {
}

.main-layout__right {
  flex-basis: 40rem;
  flex-shrink: 0;
}
@media (width <= 56.25em) {
  .main-layout__right {
    flex-basis: auto;
  }
}

.form-container {
  border: 1px solid #cccccc80;
  padding: 3rem;
  border-radius: 16px;
  max-width: 40rem;
}

.form-container__right {
  position: sticky;
  top: 2rem;
}

.form-container__header {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #cccccc;
}

.input-label {
  font-family: Dosis;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #2a2a2a;
  display: block;
}

.input-element {
  border: 1px solid #cccccc;
  padding: 12px;
  border-radius: 8px;

  font-family: Dosis;
  font-size: 16px;
  font-weight: 400;

  color: #2a2a2a99;
  width: 100%;
}

.input-element:focus {
  outline: none;
}

.captioned-img {
}

.thumbnail {
  max-height: 57.6rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* -- Footer */
.footer {
  background-color: #f9faff;
  padding-block: 10rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
}
@media (width <= 56.25em) {
  .footer-top {
    flex-direction: column;
    gap: 7rem;
  }
}

.footer-top__links {
  display: flex;
  justify-content: space-between;
  gap: 13rem;
}
@media (width <= 65.31em) {
  .footer-top__links {
    gap: 7rem;
  }
}
@media (width <= 56.25em) {
  .footer-top__links {
    flex-wrap: wrap;
  }
}

.footer-top__links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d6ddeb;
  padding-top: 3.3rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-bottom__links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}

/* --Overlay */
.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  z-index: 2;
  background-color: #0000005d;

  display: flex;
  justify-content: center;
  padding-top: 13rem;
}

@supports (backdrop-filter: blur(5px)) {
  .overlay {
    backdrop-filter: blur(5px); /* Apply the blur effect */
    background: rgba(0, 0, 0, 0.595); /* Adjusted for a subtler overlay */
  }
}

.modal {
  flex-basis: 37.5rem;
}

.modal-container {
  background-color: var(--color-white);
  border-radius: 0.8rem;
  padding: 2rem;
}

.modal-top {
  display: flex;
  justify-content: flex-end;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  */
/* Overlay element initial state */
.overlay {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease;
}

/* Modal element initial state */
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px); /* Start position for swipe down effect */
  transition: visibility 0.3s ease;
}

/* Animation to fade in overlay */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation to fade out overlay */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Animation to fade in and swipe down modal */
@keyframes fadeInSwipeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Show overlay with fade-in effect */
.show-overlay-animation {
  visibility: visible;
  animation: fadeIn 0.5s ease forwards; /* Fade in over 0.5s */
}

/* Hide overlay with fade-out effect */
.hide-overlay-animation {
  animation: fadeOut 0.5s ease forwards;
  visibility: hidden; /* Delays hiding until fade out completes */
}

/* Show modal with fade-in and swipe down effect */
.show-modal-animation {
  visibility: visible;
  animation: fadeInSwipeDown 0.6s ease forwards 0.2s; /* Delay modal to start after overlay */
}
